.article{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    margin-top: 2%;
    background-color: rgb(20, 20, 20);
    color: #e4dfd3;
    border-radius: 5px;
  }

  .article-H1{
    height: 30%;
  }
  
  .article-text{
    margin-top: 1%;
    height: 70%;
  }

  .article-H1 p{
    font-size: 190%;
    font-weight: 600;
    padding: 1%;
  }

  .article-text{
    font-size: 130%;
    font-weight: 450;
    padding: 1%;
  }

  @media (max-width: 768px){
    .article{
      width: 98%;
      margin-left: 1%;
    }
  }

  @media (max-width: 480px){
    .article{
      width: 98%;
      margin-left: 1%;
    }
  }

  @media (min-width: 280px) and (max-width: 380px){
    .article{
      width: 94.5%;
      height: 420px;
      margin-left: 1%;
      padding-top: 1%;
      font-size: 200%;
    }
  }

  @media(width: 1280px), (width: 1024px), (width: 912px), (width: 360px), (width: 375px) {
    .article{
      width: 98%;
      margin-left: 1%;
    }
  }

  @media(width: 1024px) and (height: 1366px) {
    .article{
      width: 76%;
      margin-left: 1%;
    }
  }

  @media(width: 853px){
    .article{
      width: 63%;
      margin-left: 1%;
      padding: 1%;
    }
  }

  @media(width:820px) {
    .article{
      width: 60%;
      margin-left: 1%;
      padding: 1%;
    }
    .article-text{
      margin-top: 2.5%;
    }
  }

  @media(width: 280px){
    .article{
      width: 83%;
      margin-left: 1%;
      height: 350px;
      padding: 2%;
    }
    .article-text{
      margin-top: 7%;
    }
  }

  @media (width: 412px), (width: 414px), (width: 390px), (width: 430px), (width: 360px) {
    .article{
      height: 200px;
      padding: 2%;
      font-size: 200%;
    }
    .article-text{
      margin-top: 3%;
    }
  }

  @media(min-width: 1281px){
    .article{
     margin-left: 2%;
     width: 98%;
    }
  }