footer {
    margin-top: 1%;
    height: 80px;
    padding: 1%;
    background-color: rgb(24,23,51);
    color: #FDC52C;
    text-align: center;
  }

  @media (max-width: 1280px) {
    footer {
      margin-left: 1%;
      width: 98%;
      height: 100px;
      padding: 3%;
    }
  }

  @media (min-width: 380px) and (max-width: 480px) {
    footer {
      margin-left: 1%;
      width: 98%;
      height: 100px;
      padding: 3%;
    }
  }

  @media (max-width: 768px) {
    footer {
      margin-left: 1%;
      width: 98%;
      height: 100px;
      padding: 3%;
    }
  }

  @media (min-width: 280px) and (max-width: 380px) {
    footer {
      margin-left: 1%;
      width: 98%;
      height: 300px;
      padding: 3%;
      font-size: 400%;
    }
  }
  
  @media(min-width: 1281px){
    footer{
     margin-left: 2%;
     width: 98%;
     height: 60px;
    }
  }

  @media (width: 1024px), (width: 412px) {
    footer{
      font-size: 180%;
      padding-top: 2.5%;
    }
  }

  @media (width: 853px) {
    footer{
      width: 61.5%;
      font-size: 150%;
    }
  }

  @media (width: 280px) {
    footer{
      width: 82.5%;
      font-size:300%;
      padding-top: 4%;
   }
  }

  @media (width: 1024px) and (height: 1366px){
    footer{
      width: 74.5%;
    }
  }

  @media (width: 820px){
    footer{
      width: 59%;
      font-size: 150%;
    }
  }