.container{
    display: flex;
    flex-direction: column;
    width: 1320px;
    height: 840px;
}

@media (min-width: 1321px) {
    .container {
        width: 100%;
    }
}

@media (width: 280px), (width: 412px), (width: 430px), (width: 390px), (width: 414px), (width: 375px), (width: 820px), (width: 853px), (width: 1024px){
    .container{
        height: 4000px;
    }
}

@media (width: 280px) and (height: 653px) {
    .container{
        height: 4900px;
    }
}

@media (width: 1024px) and (height:600px){
    .container{
        height: 2770px;
    }
}

@media(width:412px) and (height: 915px){
    .container{
        height: 4810px;
    }
}

@media (width: 414px) and (height: 896px) {
    .container{
        height: 3900px;
    }
}

@media (width: 390px) and (height: 844px) {
    .container{
        height: 3900px;
    }
}

@media (width: 430px) and (height: 932px) {
    .container{
        height: 3900px;
    }
}

@media (width: 412px) and (height: 915px) {
    .container{
        height: 3900px;
    }
}

@media (width: 820px) and (height: 1180px) {
    .container{
        height: 2800px;
    }
}

@media (width: 1024px) and (height: 1366px) {
    .container{
        height: 2970px;
    }
}

@media (width: 853px) and (height: 1280px) {
    .container{
        height: 2880px;
    }
}

@media (width: 412px) and (height: 914px) {
    .container{
        height: 3890px;
    }
}

    body {
    height: 100%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    background-color: #29275e;
  }
